# Data (large, licensed via Kaggle - do not commit)
data/Training/
data/Testing/
data/*.zip

# Models & artifacts
models/
*.h5
*.keras
*.pb

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Streamlit
.streamlit/
